/* Scrollbar */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(125,125,125,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,100,200,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,70,140,0.4);
}

html{
    height: 100%;
}

body{
    background-color: rgba(0,0,0,1);
    color: white;
    max-height: 100%;
    margin: 0;
    padding: 0.5em;
}

a{
    cursor: pointer;
}

#menu{
    max-width: 7em;
    min-height: 100%;
    max-height: 100%;
    left: 0;
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
}

#content{
    right: 0;
    position: absolute;
    width: calc(100% - 10em);
}

#playerWrapper{
    height: 10em;
    bottom: 0;
    position: absolute;
}

/* Lateral menu */

.menuElement{
    float: none;
    width: 5em;
    display:block;
}

#librarySelector{
    background-color: rgba(200, 49, 107, 1);
    border-radius: 3px;
}

#librarySelector:hover{
    background-color: rgba(200, 11, 81, 1);
}

.menuElement > img:hover{
    background-color: inherit;
}

.menuElement > img{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

#expandSelector{
    bottom: 0;
}

/* Content */
#content{
    overflow: hidden;
    height: calc(80% - 1em);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Library */
.songElement{
    height: 2em;
    width: 100%;
}

/* Player wrapper */
#playerWrapper{
    bottom: 0;
    width:100%;
}

#playerControl{
    display: block;
    height: 20%;
}

.playerControl > img{
    width: 6em;
}

/* Player */
#player{
    display: none;
}

#playerProgressBar{
    width: 100%;
    position: absolute;
    left:0;
    bottom:0;
    height: 0.75em;
    background-color: rgba(255,255,255,1);
}

#playerWrapper progress::-webkit-progress-bar{
    background-color : rgba(125,125,125,0.5);
}

#playerWrapper progress::-webkit-progress-value{
    background-color: rgba(0,100,200,0.8);
}

#playerProgressBar:hover{
    height: 1.5em;
}
/**/

#searchWrapper{
    height: 5em;
}

#search{
    font-size: 3em;
    text-align: center;
}

#searchResults{
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 5em);
}